body {
    background-color: #001F3F;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar {
    background-color: #001A33;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    height: 40px;
}

#menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#menu li {
    margin: 0 75px;
}

#menu li a {
    color: white;
    text-decoration: none;
    padding: 18px 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#menu li a:hover {
    background-color: #003366;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #001A33;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #003366;
}

.search-bar {
    margin-left: auto;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}

#selected-image-container {
    text-align: center;
    margin-top: 95px; /* Adjusted margin to move the image down below the nav bar */
}

#image-frame {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

#selected-image {
    max-width: 100%;
    display: block;
    margin: auto;
}

footer {
    background-color: #001A33;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 98.4%;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 5px 5px;
    font-size: 16px;
}

.twitter-logo {
    font-size: 24px;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.text-logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.tag {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
}